*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.Survey{
    height: 60px;
    background-color: #087272;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
